<header class="header-fixed">
  <div class="header-limiter">
    <nav>
      <a href="/leaderboard">Leaderboard</a>
      <a href="/game">Game</a>
      <a href="/">Login</a>
    </nav>
  </div>
</header>

  <!-- You need this element to prevent the content of the page from jumping up -->
  <div class="header-fixed-placeholder"></div>