<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
      <link rel="stylesheet" type="text/css" href="styles/header.css">
  </head>
  <body>
    {{> header}}
    <div>Account</div>
  </body>
</html>