<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="styles/header.css">
    <link rel="stylesheet" type="text/css" href="styles/game.css">
  </head>
  <body>
    {{> header}}
    <div>Game</div>
  </body>
</html>