<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
  </head>
  <body>
    <div id="bg"></div>
    <div class="container">
      <form class="login-form">
        
          <h1>Registration</h1>
          <input placeholder="email" class="email" />
          <input placeholder="password" class="password" />
          <a href="#"><div class="log-in">Log In</div></a>
          <a href="#"><div class="sign-up">Sign Up</div></a>
          
      </form>
    </div>
  </body>
</html>