<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="styles/leaderboard.css">
    </head>
    <body>
      <div id="bg"></div>
      <div class="leaderboard-container">
        <div class="row-header">
          <div class="row">
            <div class="col">
              <p>User Name</p>
            </div>
            <div class="col">
              <p>Winstreak</p>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col">
            <p>Kahoot.json</p>
          </div>
          <div class="col">
            <p>9999<p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>HELLO</p>
          </div>
          <div class="col">
            <p>HELLO</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>HELLO</p>
          </div>
          <div class="col">
            <p>HELLO</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>HELLO</p>
          </div>
          <div class="col">
            <p>HELLO</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>HELLO</p>
          </div>
          <div class="col">
            <p>HELLO</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>HELLO</p>
          </div>
          <div class="col">
            <p>HELLO</p>
          </div>
        </div>
      </div>
        
    </body>
</html>
